# ==========================
# GLOBAL / SISTEMA
# ==========================
.DS_Store
Thumbs.db

# ==========================
# IDEs y EDITORES (Importante para no subir configs personales)
# ==========================
.vscode/
.idea/
*.user
*.suo
.vs/

# ==========================
# SEGURIDAD 
# ==========================
*.env
.env
.env.*
!*.example

# ==========================
# NODE.JS (NestJS / Angular / React)
# ==========================
# El **/ asegura que se ignore en cualquier subcarpeta
node_modules/
**/node_modules/
dist/
**/dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
coverage/

# ==========================
# .NET / C# (Para Auth Service)
# ==========================
bin/
obj/
*.dll
*.exe
*.pdb
appsettings.Development.json